<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="../scripts/feed.js">

</script>





</head>
<body>

<form name="feedForm">
<table width="100%" border="0">
  <tr>
    <td colspan="2" bgcolor="#b5dcb3">
      <h1>My Book</h1>
    </td>
  </tr>
  <tr valign="top">
    <td bgcolor="#b5dcb3" width="10%">
      <font color="red"><b>Feed</b></font> <br/>
      <b>Profile</b>
      
    </td>
    <td bgcolor="#eee" width="50%" height="520">
     <table border="1">
	   <tr height="100">
	     <td width="100%"><input type="text" size="100" name="inputText"> <input type="button" value="Post" onClick="createFeeds();"></td>
		 
	   </tr>
	   <tr height="80" bgcolor="#554433">
	    <td width="100%"> <div id="loadFeeds"></div>  </td> 
		 
	   </tr>
  
	   
	 </table>

    </td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#b5dcb3">
      <center>
      Talent Improving exercise, OFS
      </center>
    </td>
  </tr>
</table>
<form>
</body>
</html>